.contact-section {
    width: 100%;
    height: auto;
    padding: 2rem 0;
    margin-top: 3rem;
    background: linear-gradient(135deg, #FFFFFF, #EBEBEB, #DADADA);
}

.contact-content {
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem 0 3rem 0;
}

.contact-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.contact-list {
    margin: 0;
    padding: 0;
    display: grid;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
}

.contact-subheader {
    font-weight: normal;
    text-transform: uppercase;
    color: var(--text-color_1);
    font-family: 'HVD', sans-serif;
    font-size: clamp(1rem, 1vw, 1rem);
}

.contact-item {
    gap: 1.4rem;
    display: flex;
    list-style: none;
    align-items: center;
    margin-top: var(--margin-medium);
}

.link-header {
    font-weight: normal;
    text-transform: uppercase;
    color: var(--text-color_1);
    font-family: 'sarasvati', sans-serif;
}

.contact-item i {
    width: 10px;
    height: 10px;
    margin-bottom: 0.5rem;
    color: var(--text-color_1);
}

.facebook,
.contact,
.location,
.email {
    cursor: pointer;
    font-style: normal;
    text-decoration: none;
    color: var(--text-color_1);
    font-family: 'HvD', sans-serif;
    transition: all 0.3s ease-in-out;
    font-size: clamp(1.1rem, 1.2vw, 1.2rem);
}

.facebook:hover,
.contact:hover,
.location:hover,
.email:hover {
    color: var(--text-color_1);
}

.his {
    color: red;
}

.contact-divider {
    width: 64%;
    height: 1px;
    margin: 0 auto;
    background-color: var(--text-color_1);
}

.footer-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.copyright {
    font-size: 1rem;
    padding-top: 2rem;
    color: var(--text-color_1);
    font-family: 'HVD', sans-serif;
}

@media (max-width: 960px) {
    .contact {
        flex-direction: column;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
    }   

    .contact-content {
        display: flex;
        padding-top: 0;
        align-items: center;
        padding-bottom: 0.2rem;
        flex-direction: column;
    }

    .link-header {
        margin-bottom: 1rem;
    }
    
    .contact-list {
        grid-template-columns: 1fr !important;
    }

    .contact-item {
        margin-top: 2rem;
    }
}