.footer-section {
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-medium);
    background-color: var(--border-color-medium);
}

.copyright {
    padding-top: 0.1rem;
    color: var(--main-text-color);
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1rem, 1.2vw, 1.2rem);
}

